@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --utama: #0e8f02;
    --light-utama: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --dang: #D32F2F;
	--light-danger: #FECDD3;
    --warn: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

/* CSS untuk mode gelap */
:root.dark-mode {
    --modal-text-color: black;
}

/* Mengatur teks dalam modal */
.modal-content {
   color: black; /* Default inherit jika variabel tidak diatur */
}

/* Contoh tambahan untuk memastikan teks lain di modal juga ikut berwarna hitam */
.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content h4,
.modal-content h5,
.modal-content h6,
.modal-content p,
.modal-content label,
.modal-content span,
.modal-content input,
.modal-content select,
.modal-content textarea {
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 999; /* Atur nilai z-index menjadi lebih rendah daripada modal */
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}


.report{

    height: 40px; /* Tinggi yang sama untuk kedua tombol */
    
    padding: 0 16px; /* Padding horizontal */
    border-radius: 10px; /* Border radius */
    display: flex;
    align-items: center;
    justify-content: center;
   
    background: var(--utama);
    color: var(--light-utama);
    border: none;
    outline: none;
    cursor: pointer;

    

}

.btn-utama{
background-color: var(--utama);

}
/* 
.search-container{

    margin-left: 100px;
    border: 10px solid black;

} */
.input-group .form-control{
    margin-left: 100px;
    border: 10px solid white;
/* background-color: black; */

}
.buttons-container {
    display: flex;
    align-items: center;
    /* height: ; */
    gap: 29px; /* Jarak antara tombol */
}

.export__file, .report {
    margin: 0;
}

.content nav {
    display: flex;
    justify-content: space-between; /* This ensures that nav-start and nav-end are at opposite ends */
    align-items: center;
    padding: 0 24px;
    height: 56px;
    background: var(--light);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}


.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--utama);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
    color: var(--success);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--dang);
}


.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}



.content nav .nav-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.content nav .nav-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-left: auto; /* Ensures nav-end is pushed to the far right */
}


.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--utama);
    color: var(--light-utama);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .notif{
    font-size: 20px;
    position: relative;
}

.content nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--dang);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.content nav .profile img{
    margin-right: -10px;
    margin-left: 4px;
    width: 53px;
    height: 53px;
    /* object-fit: cover; */
    /* border-radius: 50%; */
    margin-top: -10px;
}
.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--utama);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
    
    
}

.content main .header{
    display: flex;
    justify-content: start;
    grid-gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}



/* .content main .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--utama);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
    border: none;
} */

.search-btnTable{
    width: 50px;
    height:36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--utama);
    color: var(--light-utama);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
    margin-left: -55px;
}
.form-controlTable input{
    width: 143px;
    height:36px;
    flex-grow: 1;
    padding: 0 16px;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    color: var(--dark);
}


.export__file {
    position: relative;
}

.export__file .export__file-btn {
    grid-gap: 10px;
    padding: 0 16px;
    display: flex;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background: var(--utama)url("/images/Icon/export.png") center / 70% no-repeat;
    transition: .2s ease-in-out;

}

/* .export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
} */

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}
.export__file input:checked + .export__file-options {margin-right: -200px;margin-top: -117px;opacity: 1;transform: scale(1);z-index: 100;}
.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: var(--light-utama);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
    color:black;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

/* .export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
} */

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}


.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content main .insights li:nth-child(1) .bx{
    background: var(--light-utama);
    color: var(--utama);
}

.content main .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warn);
}

.content main .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--dang);
}

.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p{
    color: var(--dark);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: start;
    grid-gap: 16px;
    margin-bottom: 24px;
    
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
    
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
    
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
    
}

/* .content main .bottom-data .orders  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } 
   */



@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }
    .export__file input:checked + .export__file-options {margin-right: -67px;margin-top: 18px;opacity: 1;transform: scale(1);z-index: 100;}
.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: var(--light-utama);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
    color:black;
}
    

}

@media screen and (max-width: 576px) {
    .export__file input:checked + .export__file-options {margin-right: -67px;margin-top: 18px;opacity: 1;transform: scale(1);z-index: 100;}
.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: var(--light-utama);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
    color:black;
}

    .report {
        width: 50px;
        height: 40px;
        font-size: 12px; /* Ubah ukuran font untuk perangkat dengan lebar layar maksimum 576px */
    }
    .export__file .export__file-btn {
        grid-gap: 10px;
        padding: 0 16px;
        /* border-radius: 36px 36px; */
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background: var(--utama)url("/images/Icon/export.png") center / 70% no-repeat;
        /* border-radius: 36px; */
        transition: .2s ease-in-out;
        /* background-color: black; */
    }


     

   .search-btnTable {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--utama);
    color: var(--light-utama);
    font-size: 1px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
   }

.search-btnTable .bx {
    font-size: 24px; /* Ukuran ikon spesifik */
}

    .content main .bottom-data .header h3{
        margin-right: auto;
        font-size: 17 px;
        font-weight: 600;
    }
    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input {
        display: block;
        width: 100%;
    }
    
    .content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--dang);
        border-radius: 0 36px 36px 0;
    }
    
    .content nav form.show ~ .notif,
    .content nav form.show ~ .profile {
        display: none;
    }
    
    /* Styles for the search input and button in the table */
    .form-controlTable input {
        display: none;
    }
    
    .form-controlTable.show input {
        display: block;
        width: 143px;
        height: 36px;
    }
    
    /* Button styling for the search button */
    .search-btnTable button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }
    .search-btnTable {
        width: 56px;
        height: 36px;
        border-radius: 10px;
        margin-left: -44px;
        z-index:100;
    }
    
    /* Adjustments for small screens */
    
        .content nav form .form-input input {
            display: none;
        }
    
        .content nav form.show .form-input input {
            display: block;
            width: 100%;
        }
    
        .form-controlTable input {
            display: none;
        }

    
        .content nav form.show .form-input button {
            width: 36px;
            height: 100%;
            color: var(--light);
            background: var(--dang);
            border-radius: 0 36px 36px 0;
        }
    
    .form-controlTable.show input {
        display: block;
        width: 123px;
        height: 37px;
        margin-left: -32px;
        /* border:1px solid black; */
    }

    .content nav form.show~.notif, .content nav form.show~.profile{
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .orders table{
        min-width: 340px;
    }



}